
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="yemek1">Yemek 1:</label>
                <input type="text" id="yemek1" name="yemek1"><br><br>
            </div>
            <div class="form-group">
                <label for="yemek2">Yemek 2:</label>
                <input type="text" id="yemek2" name="yemek2"><br><br>
            </div>
            <div class="form-group">
                <label for="yemek3">Yemek 3:</label>
                <input type="text" id="yemek3" name="yemek3"><br><br>
            </div>
            <div class="form-group">
                <label for="yemek4">Yemek 4:</label>
                <input type="text" id="yemek4" name="yemek4"><br><br>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="form-group form-group-sm row">
    <div class="col-xs-12">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><span style="color: white" class="fa fa-times"></span>&nbsp;&nbsp;Vazgeç</button>
        <button type="submit" class="btn btn-success"><span style="color: white" class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
    </div>
</div>
<div class="clearfix"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>


