@model IEnumerable<YURT_OTOMASYONU.Data.Yardımlar>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>Eşya</th>
                <th>Açıklama</th>
                <th>Oda No</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OgrenciId</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td>
                        @if (item.EnvanterNo == 1)
                        {
                            <h6>Masa</h6>
                        }
                        else if (item.EnvanterNo == 2)
                        {
                            <h6>Buzdolabı</h6>
                        }
                        else
                        {<h6>Dolap</h6>}

                    <td>@item.Aciklama</td>
                    <td>@item.Ogrenci.OdaNo</td>
                    <td>
                        <button type="button" class="btn btn-info">Onayla</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>