
<div class="col-xl-12">
    <div class="form-group">
        Ad
    </div>
    <div class="form-group">
        Soyad
    </div>
    <div class="form-group">
        TCKimlikNo
    </div>
    <div class="form-group">
        KanGrubu
    </div>
    <div class="form-group">
        Il
    </div>
    <div class="form-group">
        Ilce
    </div>
    <div class="form-group">
        DogumYeri
    </div>
    <div class="form-group">
        DogumYeri
    </div>
    <div class="form-group">
        AnneAdi
    </div>
    <div class="form-group">
        BabaAdi
    </div>
    <div class="form-group">
        TelefonNo
    </div>
    <div class="form-group">
        Adres
    </div>
    <div class="form-group">
        Okul
    </div>
    <div class="form-group">
        Bölüm
    </div>
    <div class="form-group">
        Fakülte
    </div>
    <div class="form-group">
        <label>Giriş Tarihi</label>

        GirisTarihi
    </div>
    <div class="form-group">
        Email
    </div>
    <div class="form-group">
        KullaniciAdi
    </div>
    <div class="form-group">
        Sifre
    </div>
    <div class="form-group">
        OdaNo
    </div>
</div>
<hr />
<div style="justify-content: right" class="form-group form-group-sm row">
    <div class="col-xs-12">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><span style="color: white" class="fa fa-times"></span>&nbsp;&nbsp;Vazgeç</button>
        <button type="submit" class="btn btn-success"><span style="color: white" class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
    </div>
</div>
<div class="clearfix"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>