 <div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>OdaNo</th>
                <th>Telefon Numarası</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ad soyad</td>
                <td>tc</td>
                <td>Telefon Numarası</td>

            </tr>
        </tbody>
    </table>
</div>