
<div class="container">
    <button style="margin-bottom:10px" class="btn btn-danger">Ödeme Yapmayanları Gör</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>Ödeme Tarihi</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>isim</td>
                <td>tc</td>
                <td>ödeme tarihi</td>
                <td>tutar</td>
            </tr>
        </tbody>
    </table>
</div>