@model IEnumerable<YURT_OTOMASYONU.Data.Izinler>


<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td style="text-align-last:center">
                        <button type="button" class="btn btn-info">Detay</button>
                        <button type="button" class="btn btn-info">Onayla</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
