@model IEnumerable<YURT_OTOMASYONU.Data.Izinler>


<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td style="text-align-last:center">
                        <a data-modal-form="true"
                           data-modal-size="modal-lg"
                           data-modal-title="İzin Detayı"
                           href="@Url.Action("PermissionDetail", "Personel", routeValues: new {Area = string.Empty,izinId=item.Id})"
                           data-hook-beforeunload="true"
                           class="btn btn-info">
                            Detay
                        </a>
                        <button type="button" class="btn btn-info">Onayla</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
