<div class="mb-3">
    <h5>Başlangıç Tarihi</h5>
    <h5>Bitiş Tarihi</h5>
    <h5>Açıklama</h5>
    <h5>İletişim Numarası</h5>

</div>
<hr />

<div class="clearfix"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
