@*/Personel/AddFood*@


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddFood</title>
</head>
<body>
    <div>
        <h1>
            personel yemek ekleme
        </h1>
    </div>
</body>
</html>
