@model YURT_OTOMASYONU.ViewModels.Student.PaymentViewModel

@using (Html.BeginForm("Payment", "Student", new { Area = String.Empty }, FormMethod.Post, new { role = "form" }))
{
<div class="mb-3">
    @Html.Label("Iban")
    @Html.TextBox("Iban", null, new { @class = "form-control "})
    <div class="clearfix"></div>
    @Html.LabelFor(m => m.Tutar)
    @Html.TextBoxFor(m => m.Tutar, new { @class = "form-control", })

</div>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><span style="color: white" class="fa fa-times"></span>&nbsp;&nbsp;Vazgeç</button>
            <button type="submit" class="btn btn-success"><span style="color: white" class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
}
