
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LoginPage</title>
</head>

<body>
    <div class="container">
        <h2 style="text-align:left">Hoşgeldin:@HttpContext.Current.User.Identity.Name</h2>
        <br />
        <a href="" class="button">İzin İşlemleri</a>
        <a href="" class="button">Yardım Çağır</a>
        <a href="" class="button">Ödeme İşlemleri</a>
        <a href="" class="şifre">Şifre Değiştir</a>
        <a href="" class="şifre">Çıkış Yap</a>

    </div>
</body>

</html>
<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
    }

    body {
        background: linear-gradient(120deg,#2980b9, #8e44ad);
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        height: 100vh;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        background: white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    }

        .container h1 {
            text-align: center;
            padding: 20px 0;
        }

    .şifre {
        float: left;
        background-color: mediumpurple;
        margin-left: 150px;
        position: relative;
        text-decoration: none;
        padding: 10px 50px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0 rgba(39,200,255,0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 230px;
        height: 50px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

        .şifre::after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(225deg,#27d86c 0%,#26caf8 50%, #c625d0 100%);
            z-index: -1;
            transition: transform 0.5s ease;
        }

        .şifre:hover {
            transform: translate(0,6px);
            box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px rgba(39,200,255,0.5);
        }

    .button {
        float: left;
        background-color: mediumpurple;
        margin-left: 150px;
        position: relative;
        text-decoration: none;
        padding: 20px 50px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0 rgba(39,200,255,0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 200px;
        height: 150px;
        text-align: center;
        line-height: 50px;
    }

        .button::after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(225deg,#27d86c 0%,#26caf8 50%, #c625d0 100%);
            z-index: -1;
            transition: transform 0.5s ease;
        }

        .button:hover {
            transform: translate(0,6px);
            box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px rgba(39,200,255,0.5);
        }
</style>

