<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.bundle.js"></script>*@
    @*<script src="/assets/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="/assets/js/pace.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/custom.jquery.validate.unobtrusive.dynamic.js"></script>
    @*<script src="~/Scripts/bootstrap-confirmation.min.js"></script>*@
    <script src="~/Scripts/custom.modal.view.js"></script>
    <script src="~/Scripts/custom.ajax.form.js"></script>
    <script src="~/Scripts/custom.modal.form.js"></script>
    <script src="~/Scripts/custom.ajax.form.js"></script>
    <script src="~/Scripts/custom.ajax.pager.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>    
</head>
<body>
     
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
